@import "../../styles/variables.scss";

.city-header {
  background-position: center;
  background-size: cover;
  height: 150px;
  position: relative;

  .city-name {
    color: black;
    position: absolute;
    bottom: 0;
    left: 1rem;
    z-index: 2;
    font-weight: lighter;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0px 1rem;
  }
}
