@import "../../styles/variables.scss";

.post {
  padding-top: 2rem;
  margin: 0 auto;

  .card {
    border-radius: 0;
    border: 0;

    .card-title {
      display: flex;
    }

    .user-avatar {
      background-color: silver;
      background-position: center;
      background-size: cover;
      border-radius: 50%;
      height: 25px;
      width: 25px;
      display: inline-block;
      text-align: center;
    }

    .username {
      padding-left: 0.5rem;
    }
  }

  .post-city {
    border-radius: 0;
    position: absolute;
    top: -14px;
    left: -7px;
    background-color: $white;
    padding: 0.25rem 0.75rem;
    font-weight: bold;
  }
}
